a {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #C4C4C4;
  text-decoration: none;
}

a:hover {
  text-decoration:none; 
  cursor:pointer;  
}



li {
    display: inline;
    margin-right: 44px;
}

li:hover {
    margin-right: 44px;
    cursor: pointer;
}

.active {
  color: #000000;
  text-decoration-line: underline;
}

.nav-container{
  display: flex;
  height: 68px;
  align-items: center;
  margin-bottom: 150px;
  margin-top: 99px;
  margin-left: 172px;
  margin-right: 172px;
  border: 2px solid orange;
}

.navigation{
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  padding: 0;  
  justify-content: center;
  
}

.nav-title{
  flex: 123px 0 1;
  margin-left:44px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.spacer{
  flex-grow: 1;
}
