<div class="dev-intro-container">
    <mat-card-content  class='dev-intro-content-container'>
        <div class="">
            <p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p> 
            <p>orem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class= 'dev-intro-icon-container'>
                <div class="dev-intro-icons"></div>
                <div class="dev-intro-icons"></div>
                <div class="dev-intro-icons"></div>
            </div>
        </div>
        <div class="dev-introbox"></div>
    </mat-card-content>
</div>